@charset "utf-8";

*{
  box-sizing: border-box;
  table-layout: fixed;
  margin:0;
  padding:0;
}
body {
  width:100%;
  height:auto;
  margin:0;
}



/* 共通のクラス名 */
.Title{
  font-size:200%;
  font-weight: bold;
  padding:5% 0;
  position:relative;
}
.hTitle{
  font-size: 400%;
  font-weight: bold;
  padding:5% 0;
  position:relative;
}

.tLine {
  content: '';
  position:relative;
  top: 75%;
  display: inline-block;
  width: 80px;
  height: 1px;
  border-radius: 2px;
  background-color: black;
}

body li a{
  color:inherit;
  text-decoration: none;
}

/* 最初の下線だけ白 */
.htLine{
  content: '';
  position:relative;
  top: 75%;
  display: inline-block;
  width: 80px;
  height: 1px;
  border-radius: 2px;
  background-color: white;
}

.Text{
  display:inline-block;
  line-height: 250%;
  font-size: 110%;
  padding:5% 15%;
  padding-top:0;
}
.hText {
  display:inline-block;
  padding:5% 15%;
  padding-top:0;
  line-height: 250%;
  font-size: 125%;
}

/* ハンバーガーメニュー */
#mask {
  background: rgb(3, 28, 81);
  opacity: .6;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
}

#menu {
  z-index: 2;
  position: absolute;
  top: -1000px;
  left: 0;
  color: #fff;
  background: #d77744;
  padding: 8px;
  width: 100%;
  transition: .6s;
}

#menu li {
  padding: 30px 10px;
}

#menu li + li {
  border-top: 1px solid #fff;
}

#open,
#close {
  position: absolute;
  left: 10px;
  top: 10px;
  cursor: pointer;
  font-size: 30px;
  color: orangered;
}

body.active {
  overflow-y: hidden;
}

body.active #mask {
  display: block;
}

body.active #menu {
  top: 0;
}

/* アニメーション */
/* アニメーション1 */
.popUp{
  animation:popUp 1s ease;
}
@keyframes popUp {
  0%{
    transform: scale(0.3);
    opacity: 0;
  }
  10%{
    transform: scale(0.5);
    opacity: 0.3;
  }
  20%{
    transform: scale(0.7);
    opacity: 0.6;
  }
  30%{
    transform: scale(1.0);
    opacity: 1;
  }
  40%{
    transform: scale(0.9);
  }
  50%{
    transform: scale(0.6);
  }
  60%{
    transform: scale(0.9);
  }
  70%{
    transform: scale(0.7);
  }
  80%{
    transform: scale(0.9);
  }
  90%{
    transform: scale(0.8);
  }
  100%{
    transform: scale(1.0);
  }
}

/* アニメーション2 */
.fade{
  animation:fade 1s ease-in-out;
}
@keyframes fade{
  0%{
    transform: scale(0.3);
    opacity: 0;
  }
  100%{
    transform: scale(1.0);
    opacity: 1.0;
  }
}
.role{
  animation:role 1s ease;
}
@keyframes role{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(180deg);
  }
}
/* アニメーション3・4 ・8*/
.blabla {
  animation: blabla 1s ease;
}
@keyframes blabla{
  0%{
    transform:rotateX(-10deg);
    opacity: 0;
  }
  15%{
    transform:rotateX(10deg);
    opacity: 0.4;
  }
  30%{
    transform:rotateX(-10deg);
    opacity: 0.8;
  }
  50%{
    transform:rotateX(20deg);
  }
  100%{
    transform:rotateX(0);
  }
}
/* アニメーション5*/
.clientsImage li{
  opacity: 0;
}
.slide{
  animation: slide 3s ease forwards;
}
@keyframes slide{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1.0;
  }
}
/* アニメーション6*/
.pikapika{
  animation: pikapika 1s ease;
}
@keyframes pikapika{
  0%{
    opacity: 0;
  }
  30%{
    opacity: 1.0;
  }
  70%{
    opacity: 0;
  }
  100%{
    opacity: 1.0;
  }
}
/* アニメーション7*/
.buruburu{
  animation: buruburu 1s ease;
}
@keyframes buruburu{
  0%{
    transform:translateX(10px);
  }
  10%{
    transform:translateX(-10px);
  }
  20%{
    transform:translateX(8px);
  }
  30%{
    transform:translateX(-8px);
  }
  40%{
    transform:translateX(5px);
  }
  50%{
    transform:translateX(-5px);
  }
  60%{
    transform:translateX(5px);
  }
  80%{
    transform:translateX(-5px);
  }
  100%{
    transform:translateX(5px);
  }
}
/* アニメーション9*/
.slowfade{
  animation: slowfade 1s ease;
}
@keyframes slowfade{
  0%{
    transform: scale(0);
    opacity: 0;
  }
  100%{
    transform: scale(1);
    opacity: 1;
  }
}
/* アニメーション10*/
.fadeInL{
  animation: fadeInL 1s ease;
}
@keyframes fadeInL{
  0%{
    transform: translateX(-100%);
  }
  100%{
    transform: translateX(0);
  }
}
.fadeInR{
  animation: fadeInR 1s ease;
}
@keyframes fadeInR{
  0%{
    transform: translateX(100%);
  }
  100%{
    transform: translateX(0);
  }
}

.pure .imgTitle{
  display: inline-block;
  width:100%;
  background-size:cover;
  padding:10% 20%;
  background-image:url(../img/lepy.jpg);
  text-align: center;
}
.help .imgTitle{
  display: inline-block;
  width:100%;
  background-size:cover;
  padding:10% 20%;
  background-image:url(../img/helo.jpg);
  text-align: center;
}
.quote .imgTitle{
  display: inline-block;
  width:100%;
  background-size:cover;
  padding:10% 20%;
  background-image:url(../img/quotes.jpg);
  text-align: center;
}

.iText{
  display:inline-block;
  padding-top:10%;
  color:white;
  font-size: 30px;
  transform-style: preserve-3d;
  perspective:100px;
}
.iText p{
  padding:20px 80px;
  border:2px white solid;
  border-radius: 2px;
}

/* header */
header {
  display:inline-block;
  width:100%;
  height:auto;
  padding:10% 20%;
  color:white;
  background-image:url(../img/banner.jpg) ;
  background-size: cover;
  background-position: center;
}
.Headmain{
  margin:auto;
  padding:10% 0;
  text-align: center;
}
.Headmouse{
  padding-top:25%;
}

/* main */
/* intro */

.intro{
  width: 100%;
  padding:5% 20%;
  text-align: center;
}

/* Pure Creativity */

/* SOME OF OUR WORK */
.work{
  display: inline-block;
  width:100%;
  height:auto;
}
.workTopMenu{
  display:inline-block;
  width:100%;
  height:auto;
  text-align: center;
}
.workMenu{
  margin:0 5%;
}
.workMenu ul{
  display:flex;
  padding:0 20%;
  justify-content: space-between;
}
.workImage{
  margin:5% 10%;
}
.workImage ul {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.workImage li{
  width:390px;
  height:440px;
}

.workImage .mask{
  width:370px;
  height:420px;
  position: relative;
  bottom:96%;
  background: rgba(0,0,0,0.5);
  opacity: 0;
}
.workImage .caption{
  width:100%;
  height: 100%;
  font-size: 140%;
  color: white;
  text-align: center;
  padding:40% 0;
}
.mLine {
  content: '';
  position: absolute;
  top: 65%;
  display: inline-block;
  width: 80px;
  height: 1px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  border-radius: 2px;
  background-color: orange;
}
.workImage .caption p{
  padding:3% 0;
}
.workImage li img:hover{
  opacity: 0.5;
}
.workImage li:hover .mask{
  opacity:1;
}

.workBox{
  font-size:140%;
  text-align:center;
}
.workBox p{
  margin:5% 40%;
  padding:1% 4%;
  border:2px solid;
  border-radius: 2px;
}

/* We’re here to help. */

/* OUR CLIENTS */
.clients{
  width:100%;
  height:auto;
  background-color:#f4f4f4;
  text-align: center;
}
.clientsImage{
  width: 80%;
  margin:auto;
}
.clientsImage ul {
  display:flex;
  justify-content: space-between;
  padding:5% 0;
}
.clientsImage li img{
  padding:10px;
}


/* ABOUT US */
.about{
  width:100%;
  height:auto;
  text-align: center;
}
.aboutImage{
  margin:3% 10%;
}
.aboutImage ul {
  display:flex;
  justify-content: space-between;
}
.aboutImage li {
  padding:10px;
}
.aboutImageBox{
  width:270px;
  height:360px;
  padding-top:20%;
  border:2px solid;
  text-align: center;
}
.aboutImageBoxTitle{
  display:inline-block;
  width:100%;
  padding:5% 20%;
  line-height: 140%;
  font-weight: bold;
  font-size: 25px;
}
.aboutImageBoxText{
  display:inline-block;
  padding-top:20%;
  font-size: 20px;
}
.aboutBoxLine{
  content: '';
  position: relative;
  left:15%;
  bottom:-5%;
  display: inline-block;
  width: 80px;
  height: 1px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: black;
  border-radius: 2px;
}
.aboutImageBoxText p{
  padding:20px 70px;
  border:4px  solid;
  border-radius: 2px;
}

/* movie */
.movie{
  display: inline-block;
  width:100%;
  height:auto;
  padding:10% 20%;
  background-image: url(../img/video.jpg);
  background-size: cover;
  text-align: center;
}
.movieIcon{
  display:inline-block;
  padding-top:10%;
}

/* WHY CHOOSE US */
.why{
  width:100%;
  height:auto;
  text-align: center;
}
.whyList{
  margin:5% 5%;
  margin-top:0;
  text-align: center;
}
.sliderP{
  padding:10px;
}
.sliderP img{
  margin:0 auto;
}
.slick-dots{
  width:100%;
  text-align: center;
}
.whyListTitle{
  padding:30px 0;
  font-size: 20px;
  font-weight: bold;
}


/* Get a quote now. */


/* GET IN TOUCH */
.touch{
  width:100%;
  height:auto;
  text-align: center;
}

/* form */
.form{
  display:inline-block;
  width:100%;
  height:auto;
}
.formFlex{
  display: flex;
}
.formLeft{
  width:40%;
  height:500px;
  background-color: #f2f2f2;
  padding:5%;
}
.formLeft li{
  font-size: 20px;
  padding:10px 0;
}
.formLeftTitle{
  font-size: 35px;
  font-weight: bold;
  padding:20px 0;
}
.formLeftIcon{
  padding:20px 0;
}
.formLeftIcon ul{
  display: flex;
}
.formLeftIcon li{
  display: inline-block;
  padding:0 10px;
}
.formLeftIcon li:first-child{
  padding-left:0;
}

.formRight{
  width:60%;
  height:auto;
  background-color: #e4e4e4;
  padding:5%;
}
.f-NE{
  display:flex;
}
.cp_iptxt {
	position: relative;
	width: 100%;
	margin: 40px 3%;
}
.cp_iptxt:last-child{
  width:95%;
}
.cp_iptxt input[type='text'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	padding: 0.3em;
	transition: 0.3s;
	letter-spacing: 1px;
	color: #aaaaaa;
	border: none;
	border-bottom: 2px solid #aaaaaa;
	background: transparent;
}
.f-rightButton{
  display:inline-block;
  border:solid black 2px;
  margin-top:20px;
  margin-left:70%;
  padding:15px 40px;
}

/* footer */
footer{
  width:100%;
  height:auto;
  background-color: #222222;
  text-align: center;
}
.footerText{
  display:inline-block;
  color:white;
  line-height: 250%;
}
.footerText img{
  display:inline-block;
  margin-top:20%;
}
.footerText span{
  color:orange;
}


@media screen and (max-width: 376px) {
  /* スマホ用のCSS */
  *{
    margin:0;
    padding:0;
  }
  body{
    width:375px;
    height:auto;
  }

  /* 共通のクラス名 */
  .Title {
    font-size:120%;
  }
  .hTitle {
    font-size: 100%;
  }
  .tLine {
    top: 75%;
  }
  .Text{
    padding:10% 5%;
  }
  .Text p{
    font-size: 70%;
    line-height: 200%;
  }

  /* header */
  header{
    padding:0;
  }
  .Headmouse{
    padding: 5%;
  }

  /* main *//* intro */
  .intro{
    padding: 0;
  }

  /* Pure Creativity *//* We’re here to help. *//* Get a quote now. */
  .iText{
    font-size: 100%;
  }
  .iText p{
    padding:20px 30px;
  }

  /* SOME OF OUR WORK */
  .workMenu{
    margin:0;
  }
  .workMenu ul{
    flex-wrap: wrap;
    padding:0 10%;
  }
  .workMenu ul li{
    padding:10px;
  }
  .workImage{
    margin:0;
  }
  .workImage li{
    width: calc(100%/2);
    height:201px;
    margin:5px 0;
    padding:0 5px;
    box-sizing:border-box;
  }
  .workImage li img{
    max-width:100%;
	  height: auto;
  }
  .workBox{
    font-size: 120%;
    text-align: center;
  }
  .workBox p{
    margin:10px 20px;
    padding:5%;
  }

  .workImage .mask{
    width: 100%;
    height:100%;
    box-sizing:border-box;
    bottom:205px;
  }

    /* OUR CLIENTS */
  .clientsImage ul {
    display:inline-block;
  }


    /* ABOUT US */
  .aboutImage ul {
    display:inline-block;
  }
  .aboutImageBox{
    width:270px;
    height:auto;
  }
  .aboutImageBoxText{
    display:inline-block;
    padding:20% 0;
    font-size: 20px;
  }
  .aboutImageBoxTitle{
    padding:0;
    font-size: 20px;
  }

    /* WHY CHOOSE US */
  .whyList{
    margin:5% 10%;
    margin-top:0;
    text-align: center;
  }
  .whyList #slider{
    display: inline-block;
    box-sizing: border-box;
    width:100%;
  }
  .whyList .sliderP{
    margin:0;
    padding:10px;
  }
  .whyListTitle{
    padding:30px 0;
    font-size: 20px;
    font-weight: bold;
  }
  /* form */
  .formFlex{
    display:inline-block;
    width: 100%;
  }
  .formLeft{
    width:100%;
    height:auto;
    text-align:center;
  }
  .formLeftIcon{
    display: inline-block;
    text-align:center;
  }
  .formRight{
    width:100%;
  }
  .f-NE{
    display:inline-block;
    width: 100%;
  }
  .cp_iptxt .ef{
    width: 100%;
  }
  .f-rightButton{
    margin:0;
    margin-left:180px;
    padding:15px 40px;
  }

    /* footer */
  .footerText{
    padding:5%;
  }
  .footerText img{
    width: 90%;
    height: auto;
    margin: 0;
  }

}

